@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bege: #F4EAE1;
    --dourado: #CDA176;
    --verde: #CEDFD7;
    --verde-claro: #F2F6F4;
}


* {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    /*     font-size: 13px !important; */
}

html {
    scroll-behavior: smooth;
    /* user-select: none; */
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--dourado)!important;
    background-color: transparent!important;
}

a.nav-link {
    color: #212529!important;
}


.m-title {
    margin: 7rem 0 4rem;
}

.m-30 {
    margin: 10rem 0;
}

.img-header-container {
    background-image: url(../img/slide2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20rem 0 15rem;
}

.img-session-container {
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10rem 0;
}


 /* Background */
.bg-bege {
    background-color: var(--bege);
}

.bg-dourado {
    background-color: var(--dourado);
}

.bg-verde {
    background-color: var(--verde);
}

.bg-verde-claro {
    background-color: var(--verde-claro);
}

 /* Background Texto */
.text-bg-bege {
    background-color: var(--bege);
}

.text-bg-dourado {
    background-color: var(--dourado);
}

.text-bg-verde {
    background-color: var(--verde);
}

.text-bg-verde-claro {
    background-color: var(--verde-claro);
}

 /* Texto */
.text-bege {
    color: var(--bege);
}

.text-dourado {
    color: var(--dourado);
}

.text-verde {
    color: var(--verde);
}

.text-verde-claro {
    color: var(--verde-claro);
}

/* Copyright */
.copyright {
    font-size: x-small;
    font-weight: 700;
    text-transform: uppercase;
}

/* Sessões Icones */
.session-service{
    color: var(--dourado);
}


/* Estilização Scroll Bar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Carrossel Depoimentos */
.carousel {}

.carousel-inner {
    padding: 10rem;
}

.carousel-caption {
    color: rgb(255, 255, 255) !important;
    top: -4rem;
}

.carousel-control-next,
.carousel-control-prev {
    color: rgb(255, 255, 255) !important;
}

.jumbotron {
    background: ta ransparent !important;
}